.place__website {
    align-self: end;
  }

  @media screen and (max-width: 767px) {

    .place__website {
      margin: 0 auto;
    }
  }


  @media screen and (max-width: 360px) {

    .place__website {
      margin-left: 16px;
    }
  }